.activity{
    padding-top: 90px;
    padding-bottom: 60px;
}

.activity__inner{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    column-gap: 100px;
}

.activity__content{

    &-tittle{
        margin-bottom: 15px;
    }

    &-text{
        margin-bottom: 40px;

        font-family: 'Rubik';
        font-weight: 400;
        font-size: 16px;
        color: $black;
        line-height: 30px;
    }

    &-btn{
        background-color: $green;
        color: #FFFFFF;
        padding: 20px 70px;
    }
}