.drill{
    padding-top: 130px;
    padding-bottom: 90px;
    
}

.drill__inner{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
}

.drill__photo-fold{
    align-self: center;
}

.drill__content-tittle{
    margin-bottom: 15px;
}

.drill__content-subtittle{

    font-family: 'Rubik';
    font-weight: 500;
    font-size: 22px;

    color: $black;

    margin-bottom: 15px;

}

.drill__content-text{
    font-family: 'Rubik';
    font-weight: 400;
    font-size: 17px;
    line-height: 25px;
    color: $black;

    margin-bottom: 30px;
  
}

.drill__content-list{
    padding-bottom: 24px;
}

.drill-list{
    list-style-image: none;
    list-style-image: url('/images/list-style.png');
    list-style-position:inside;
    font-family: 'Rubik';
    font-weight: 400;
    font-size: 17px;
    align-items: center;
  

   
    &:not(:last-child){
        margin-bottom: 20px;
    }
}

.drill__content-btn{
    background-color: $green;
    padding: 20px 118px;
    color: #FFFFFF;
}